* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #aeaeae, #c5bb03);
    color: #fff;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 700px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.calculator h1 span {
    color: #ffff17;
}

.input-box {
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}
.input-box:hover {
    background: rgba(255, 255, 255, 0.2);
}
.input-box:focus-within {
    background: rgba(255, 255, 255, 0.3);
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box input::placeholder {
    color: #000;
    opacity: 0.7;
}

.input-box button {
    padding: 15px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: #f6ff00;
    color: #2b2b2b;
    cursor: pointer;
    transition: background 0.3s ease;
}

.input-box button:hover {
    background: #f0f0f0;
}

.input-box input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    text-align: center;
    color: #fff;
    transition: background 0.3s ease;
}


#result:hover {
    background: rgba(255, 255, 255, 0.2);
}

#result span {
    color: #ffff17;
    font-weight: bold;
}

